<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Twittor</title>
    {% endif %}
</head>
<body style="background-color:#f3f8ff;">
    <div class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <a class="p-2 text-dark my-0 mr-md-auto font-weight-normal" href="{{ url_for('index') }}">Twittor</a>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{ url_for('index') }}">Home</a>
            </nav>
            {% if current_user.is_anonymous %}
            <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a class="btn btn-outline-primary" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container-fluid">
    {% block content %} {% endblock %}
    </div>
</body>