{% extends "base.html" %}

{% block content %}

    <h1>Login</h1>
    <form action="" method="post">
        <p>
            {{ form.username.label }}
            {{ form.username() }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password() }}
        </p>
        <p>
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
        <p>
            <a href="{{ url_for('register') }}">New User?</a>or
            <a href="{{ url_for('reset_password_request') }}">Forgot Password?</a>
        </p>
    </form>

    {% endblock %}