{% extends "base.html" %}

{% block content %}
    <h1>Reset Password</h1>
    <p>
        Enter your email address and we will send you a link to reset your password.
    </p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email() }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }} or<a href="{{ url_for('login') }}">Log In</a></p>
    </form>
{% endblock %}