{% extends "base.html" %}

{% block content %}

    <form action="" method="post"></form>
    <p>
        <label for="">Username</label>
        <input type="text" name="" id="">
    </p>
    <p>
        <label for="">Email Address</label>
        <input type="email" name="" id="">
    </p>
    <p>
        <label for="">Password</label>
        <input type="password" name="" id="">
    </p>

    <p>
        <label for="">Repeat Password</label>
        <input type="password" name="" id="">
    </p>
    <p>
        <input type="submit" value="Register">
    </p>


    {% endblock %}